{{! ./views/users/profile.hbs }}
<h1>Perfil</h1>




{{#if data}}

  <a href="/users/{{this._id}}/edit">Editar</a>
 
 
{{else}}

  <a href="/users/create"> <button>Crear Perfil</button> </a>

{{/if}}

<br>
      {{#with data}}

      <p>{{this._id}}</p>
      <h1>{{this.nombre}}</h1>
      <h1>{{this.apellido}}</h1>

      <form method="POST" action="/users/{{this._id}}/delete">
        <button>Borrar</button>
      </form>    

  {{/with}}
